@import "../../sass/media";
@import "../../sass/variable";
@import "../../sass/mixin";

.banner{
  
  //img{
  //  width: 100%;
  //  display: flex;
  //}
  //
}

.banner_row{
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //padding: 4px 0px;
  border-bottom: 1px solid rgba(222, 222, 222, 0.47);
  
  h1 {
    position: relative;
    padding-bottom: 5px;
    &:after {
      position: absolute;
      bottom: -1px;
      content: "";
      width: 100%;
      height: 2px;
      display: block;
      @apply bg-primary-400;
    }
  }
}


.home_products_list__container{
  padding-right: 20px;
  padding-left: 20px;
  @include get_down(576px){
    padding: 0;
  }
}

.home_page_content_wrapper{
  position: relative;
}

.small_sidebar__prod{
  padding: 15px 5px;
  &:hover{
    background: #f3f3f3;
  }
}