client/node_modules

client/.idea
client/src/pages.rar

client/src/asserts

# Local Netlify folder
.netlify

client/fortawesome
client/.netlify

client/src/routes.ts.back
client/.vercel
client/js.js
client/src/a.css
client/bkash.html
client/a.css
client/s.json
client/dist
client/README.MD


api/.idea
api/src/static
api/src/logs
api/src/auto/sql
api/src/middleware
api/node_modules
api/src/auto
api/.env
api/src/FileUpload
api/src/middleware/
api/src/console
