client/node_modules
client/.idea
client/src/asserts
client/fortawesome
client/.vercel
client/dist
client/.gita
client/.gitignore
.idea

New folder
go-api/.gita
go-api/.idea
go-api/.gitignore
go-api/src/static
go-api/src/logs
go-api/src/auto/sql
go-api/src/middleware
go-api/node_modules
go-api/src/auto
go-api/src/FileUpload
go-api/src/middleware/
go-api/src/console
go-api/.env

nodejs-api/node_modules
nodejs-api/.gita
nodejs-api/.env
nodejs-api/.idea
nodejs-api/netlify.toml
nodejs-api/.gitignore
# Local Netlify folder
.netlify
