.dropdown_nav_menu {
  position: relative
}

.dropdown_panel {
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  top: 34px;
  min-width: 300px;
  max-width: 500px;
  box-shadow: 0 0 1px 0px #6b6b6b75, 0 0 2px 0px #f9eaea, 0 0 3px 0px #fefefee3, 0px 1px 4px 0px #636363;
  background: white;
  z-index: 201;
  user-select: none;
  
  li{
    a{
      color: #333333 !important;
      font-weight: 400;
    }
  }

  .dropdown_panel_section_list{
    background: #fefefe;
    list-style: none;
    
    .panel_section_item {
      position: relative;

      .panel_section_item_name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 10px;
        color: #545151;
        font-weight: 600;
    
        &:hover {
          background: #3e61fa;
          color: white;
        }
    
        .menu_collapse_icon {
          font-size: 10px;
        }
        span { display: flex;   }
      }
    }
  
    .remove_filter{
      //display: inline-block;
      //width: 15px;
      //height: 15px;
      //margin-left: 3px;
      color: red;
      font-size: 30px;
      .times-button{
        color: red;
        font-size: 30px;
      }
      //i{
      //  color: white;
      //  font-size: 10px;
      //}
    }
    
  }
}

.dropdown_neated_list{
  margin-left: 20px;
  background: white;
    .dropdown_neated_item {
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.active{
        font-weight: 700 !important;
        color: #ff2122 !important;
      }
      &:hover {
        background: #3e61fa;
        color: white;
      }
    }
    
    .dropdown_neated_item_subtrack-button{ 
      height: 12px;
      width: 9px;
      cursor: pointer;
      line-height: 12px;
      display: flex;
      align-items: center;
      .minas_button{
        background: red;
        width: 9px;
        height: 2px;
        line-height: 12px;
      }
    }
}


// 
.select_filter_values{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 10px;

  .select_filter_item{
    position: relative;
    padding: 0px 10px;
    background: #3e61fa;
    border-radius: 10px;
    margin: 1px 0px;
    margin-right: 1px;
    color: #efefef;

    .remove_filter{
      display: inline-block;
      width: 15px;
      height: 15px;
      margin-left: 3px;
     
      i{
        color: white;
        font-size: 10px;
      }
    }
  }
}
