
.divider_root{
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin: 5px 0px;
}
.divider-text{
  margin: 0px 5px;
}  

.divider-start{ 
  box-sizing: border-box;
  background: #949494c9; width: 100%; height: 1px; display: inline-block; 
} 
.divider-end{ 
  box-sizing: border-box;
  background: #949494c9; width: 100%; height: 1px; display: inline-block 
}