



.ripple{
  position: absolute;
  background: rgba(66, 66, 66, 0.466);
  border-radius: 100%;
  animation: rippleEffect .7s linear 1;

  @keyframes rippleEffect {
    0%{ transform: scale(0); opacity: 0; }
    100%{ transform: scale(1); opacity: 1; }
  }
}



.ripple_parent{
  position: relative;
  // overflow: hidden;
}