
.select_group {
  label {
    font-size: 14px;
    font-weight: 400;
    color: #1c1c1c;
  }
  .multi_input {
    font-size: 14px;
    font-weight: 400;
    color: #363636;
    width: 100%;
    padding: 4px 2px;
    outline: none;
    border: 1px solid rgb(197 197 198 / 48%);
    background: white;
    border-radius: 4px;
    option{
      font-size: 14px;
      font-weight: 400;
      color: #656565;
    }
    &:focus {
      outline: none;
    }
  }
  
}