@import "src/sass/media";

.mobile_search_box{
  @include get_down(576px){
    display: flex;
  }
  padding: 5px 0;
  display: none;
  align-items: stretch;
  justify-content: space-between;
  form{
    flex: 1;
  }
  .input{
    border-radius: 4px;
    background: white;
    border: 1px solid rgba(10, 163, 87, 0.16);
    //box-shadow: 0px 1px 15px -5px #78787896;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 15px;
    input{
      &::placeholder{
        color: #606060;
      }
      color: #606060;
      outline: none;
    }
    button{
      padding-right: 5px;
      color: #838383;
      //background: var(--primary);
      svg{
        font-size: 15px;
      }
    }
    .search_go{
      padding: 5px 15px;
      background: #00bf55;
      color: white;
    }
  }
  .filter_btn{
    background: #00bf55;
    color: white;
    padding: 0 15px;
    border-radius: 4px;
    svg{
      font-size: 14px;
    }
  }
}
