


@mixin inline-animation($duration, $count) {
  $name: inline-#{unique-id()};
  @keyframes #{$name} {
    @content
  }
  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: $count;
}

@mixin inline-animation-linear($duration, $count) {
  $name: inline-#{unique-id()};
  @keyframes #{$name} {
    @content
  }
  animation-timing-function: linear;
  animation-name: $name;
  animation-duration: $duration;
  animation-iteration-count: $count;
}