


.checkbox_root{
  position: relative;
  width: fit-content;
  display: flex;
  @apply text-primary-400;
}

.checkbox_root.checked{ @apply text-primary-400; }
.checkbox_root.unchecked{  @apply text-primary-400;  }
.checkbox_input{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  display: block;
  padding: 0;
  margin: 0;
  box-sizing: border-box
}
.checkbox_svg{
  width: 0.9em;
  height: 0.9em;
  fill: currentColor;
  font-size: 1.5rem;
}


/* Checked box Themes */
/* Orange */
.checkbox_root.checked.checked_orange{color: rgb(255, 174, 0);}
.checkbox_root.unchecked.unchecked_orange{color: rgb(223, 199, 147);}

/* red */
.checkbox_root.checked.checked_red{color: #ff1818;}
.checkbox_root.unchecked.unchecked_red{color: #b46666;}

/* green */
.checkbox_root.checked.checked_green{color: #49d64f;}
.checkbox_root.unchecked.unchecked_green{color:  #a5d6a7;}

/* pink */
.checkbox_root.checked.checked_pink{color: #f864a0}
.checkbox_root.unchecked.unchecked_pink{color: #d0769a;}

/* blue */
.checkbox_root.checked.checked_blue{color: #283593}
.checkbox_root.unchecked.unchecked_blue{color: #9fa8da}