@import 'src/sass/index.scss';
.ooooo{
  margin-top: 15px;
  width: 100%;
  .input_wrapper{
    //font-family: Roboto;;
    position: relative;
    border-bottom: 1.2px solid #8e8e8e7a;
    
    .input{
      position: relative;
      font-size: 15px;
      color: #777777;
      font-weight: 400!important;
      // background: rgba(230, 116, 116, 0.096);
      input, textarea{
        &::placeholder{
          color: #888888;
          font-weight: 400;
          font-size: 14px;
        }
        border: none;
        outline: none;
        width: 100%;
        background: inherit;
        color: inherit;
        font-size: inherit;
      }
    }

    .input_label{
      position: absolute;
      top: 1px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      font-weight: 500 !important;
      font-size: 15px; 
      color: rgb(26, 26, 26);

      &--active{
        //color: rgb(9, 178, 20);
        //color: rgb(73, 106, 255);
        top: -23px;
        font-weight: 500;
        font-size: 15px;
        @include inline_animation(.5s, 1){
          0%{  font-weight: 500; font-size: 15px; top: 1px;}
          100%{
            //color: #496aff;
            font-weight: 500; font-size: 15px; top:-23px}
        }
      }
      &--inactive{
        top: 1px;
        font-size: 15px;
        @include inline_animation(.5s, 1){
          0%{
            //color: #496aff;
            font-weight: 500; font-size: 15px; top: -23px;}
          100%{font-weight: 500; font-size: 15px; top: 1px}
        }
      }
      &--error{
        color: red;
        font-weight: 600!important;
        //background: #00b0ff;
      }
    }

    .error-message{
      
      margin-left: 10px;      
      &--show{
        @include inline_animation(.5s, 1){
          0%{ transform: scaleX(0) }
          100%{ transform: scaleX(1); }
        }
      }        
      &--hidden{
        transform: scaleX(0);
        @include inline_animation(.5s, 1){
          0%{ transform: scaleX(1) }
          100%{ transform: scaleX(0); }
        }
      }        
    }


    .input_border{
      position: absolute;
      height: 2px;
      width: 100%;
      bottom: -1.5px;
      left: 0;
      &--error{
        background: rgb(255, 73, 73) !important;
      }
      &--active{
        @apply bg-primary-400;
   
        @include inline_animation(.5s, 1){
          0%{ transform: scaleX(0)}
          100%{ transform: scaleX(1)}
        }
      }
      
      &--inactive{
        @apply bg-primary-400;
        transform: scaleX(0);
        @include inline_animation(.5s, 1){
          0%{ transform: scaleX(1)}
          100%{ transform: scaleX(0)}
        }
      }
    }

  }
  
  &.with-label{
    margin-top: 25px;
  }
}




// @-webkit-keyframes autofill{
//   0%, 100%{
//     color: red;
//     background: #496aff;
//   }
// }
// input:-webkit-autofil,
// input:-webkit-autofil:hover,
// input:-webkit-autofil:active{
//   -webkit-animation-delay: 1s;
//   -webkit-animation-name: autofill;
//   -webkit-animation-fill-mode: both;
//   -webkit-box-shadow: 0 0 0 2px grey;
//   color: grey !important;
// }
