.sort_panel{
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  top: 30px;
  min-width: 300px;
  max-width: 500px;
  box-shadow: 0 0 1px 0px #6b6b6b75, 0 0 2px 0px #f9eaea, 0 0 3px 0px #fefefee3, 0px 1px 4px 0px #636363;
  background: white;
  z-index: 201;
  user-select: none;
  .sort_item{
    display: flex;
    justify-content: space-between;
    padding: 2px 5px;
    &:not(:last-child){
      border-bottom: 1px solid #eaeaea99;
    }
    &:hover{
      background: #eeeeee;
    }

    &-name{
      cursor: pointer;
    }
  }
}