
.footer{

    position: relative;
    bottom: 0;
    width: 100%;
    //min-height: 100;
    //display: table-row;
    //height: 0;

  //width: 100%;
  //z-index: 201;
  //  //position: absolute;
  //  //bottom: 0;

    .footer_content{
    height: 80px;
    p{
      color: rgb(233, 233, 233);
    }
    
  }
}

.footer_fixed{
  position: fixed;
  bottom: 0;
}
.sec-0{
  flex: 5;
}
.sec-1{
  flex: 2;
  justify-content: flex-end !important;
}