
.product_category {
  .title {
    font-size: 18px;
  }
}

.card {
  margin-bottom: 30px;
  border: 0;
  letter-spacing: .5px;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68, 102, 242, .05);
  background: white;
  .card-header{
    background-color: #fff;
    padding: 30px;
    border-bottom: 1px solid #f8f8f9;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
}



.clear-fix{
  background: #fff;
  &:after{
    clear: both;
    content: "";
    display: block;
  }
}

.react-table{
  width: 100%;
}

.thead{
  display: flex;
  flex: 1 0 auto;
  display: flex;
  //background: red;
  overflow-x: scroll;
  padding: 10px;
  //justify-content: space-around;
  .table-header-item{
    user-select: none;
    list-style: none;
    text-align: center;
    margin: 0 1px;
    color: white;
    background: #00b0ff;
    position: relative;
    padding: 16px;
  }
}

.resize{
  cursor: col-resize;
  position: absolute;
  width: 15px;
  height: 53px;
  background: #e91e63;
  top: 0px;
  left: -9px;
}
