
.image-preview{
  
  img{
    // width: 100%;
  }
}

.input_choose_btn{
  background: rgb(78, 134, 255);
  margin-top: 10px;
  color: rgb(240, 240, 240);
  width: max-content;
  padding: 5px 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  span{
    font-size: 14px;
  }
}
.checkbox{
  display: flex;
  align-items: center;
}