

.table-fixed-header{
  .my-table-thead {
    tr .my-table-cell {
      position: sticky !important;
      top: 0;
      z-index: 1;
    }
  }
}

.table-layout{
  border: none;
  border-collapse: collapse;
  width: 100%;
  .my-table-selection-col{
    width: 36px;
  }
  .my-table-thead{
    tr{
      .my-table-cell {
        position: relative;
        color: #000000d9;
        font-weight: 500;
        text-align: left;
        background: #fafafa;
        border-bottom: 1px solid #f0f0f0;
        transition: background .3s ease;
        font-size: 14px;
      }
    }
    .my-table-selection-column{
    
    }
    }
  
  .my-table-tbody {
    tr {
        &.my-table-row-selected > td {
          background: var(--primary-color-1);
          border-color: #00000008;
      }
      &.my-table-row-selected:hover > td {
        background: rgb(168 241 168 / 42%);
      }
      &:hover > td{
        background: #fafafa;
        transition: background .4s ease-in-out;
      }
    }
  }
  
  .my-table-cell{
    //white-space: nowrap;
    font-size: 14px;
    position: relative;
    color: #000000d9;
    font-weight: 400;
    text-align: left;
    background: #ffffff;
    border-bottom: 1px solid #f0f0f0;
    transition: background .3s ease;
  }
  
  .my-table-tbody>tr>td {
    border-bottom: 1px solid #f0f0f0;
    transition: background .3s;
  }
  
  .my-table-thead>tr>th,
  .my-table-tbody>tr>td{
    position: relative;
    padding: 10px 15px;
    overflow-wrap: break-word;
  }
  
  .my-table-tbody>tr>td>a{
    color: #4e7aff !important;
  }
  
}


.my-checkbox-wrapper {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  display: inline-flex;
  align-items: baseline;
  line-height: unset;
  cursor: pointer;
}
.my-checkbox {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000000d9;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  position: relative;
  top: .2em;
  line-height: 1;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
}
.my-checkbox-input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0
}

.my-checkbox-checked{

  .my-checkbox-inner {
    border-color: var(--primary-color);
    background: var(--primary-color);
    border-radius: 0;
  }
}

.my-checkbox-checked .my-checkbox-inner:after {
  position: absolute;
  display: table;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  transform: rotate(
      45deg) scale(1) translate(-50%,-50%);
  opacity: 1;
  transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
  content: " ";
}

.my-checkbox-checked .my-checkbox-inner:after {
  position: absolute;
  display: table;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  transform: rotate(
      45deg) scale(1) translate(-50%,-50%);
  opacity: 1;
  transition: all .2s cubic-bezier(.12,.4,.29,1.46) .1s;
  content: " ";
}
.my-checkbox-inner:after {
  position: absolute;
  top: 50%;
  left: 21.5%;
  display: table;
  width: 5.71428571px;
  height: 9.14285714px;
  border: 2px solid #fff;
  border-top: 0;
  border-left: 0;
  transform: rotate(
      45deg) scale(0) translate(-50%,-50%);
  opacity: 0;
  transition: all .1s cubic-bezier(.71,-.46,.88,.6),opacity .1s;
  content: " ";
}

.my-checkbox-inner {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  direction: ltr;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  border-collapse: separate;
  transition: all .3s;
}
.my-checkbox-indeterminate .my-checkbox-inner {
  background-color: #fff;
  border-color: #d9d9d9;
}

.my-checkbox-indeterminate .my-checkbox-inner:after {
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: var(--primary-color);
  border: 0;
  transform: translate(-50%,-50%) scale(1);
  opacity: 1;
  content: " ";
}

.my-checkbox-checked:after {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 100%;
  //background: red;
  height: 100%;
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  visibility: visible;
  -webkit-animation: antCheckboxEffect .36s ease-in-out;
  animation: antCheckboxEffect .36s ease-in-out;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  content: "";
}

.my-table-pagination{
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px;
  justify-content: flex-end;
  .pagination-item{
    &.pagination-item__current{
      background: var(--primary-color);
      color: white;
    }
    outline: none;
    width: 30px;
    height: 25px;
    background: white;
    margin: 2px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    &:hover{
      background: var(--primary-color);
      color: white;
    }
  }
}

//l {
//  --my-primary-color: #1890ff;
//  --my-primary-color-hover: #40a9ff;
//  --my-primary-color-active: #096dd9;
//  --my-primary-color-outline: rgba(24, 144, 255, .2);
//  --my-primary-1: #e6f7ff;
//  --my-primary-2: #bae7ff;
//  --my-primary-3: #91d5ff;
//  --my-primary-4: #69c0ff;
//  --my-primary-5: #40a9ff;
//  --my-primary-6: #1890ff;
//  --my-primary-7: #096dd9;
//  --my-primary-color-deprecated-pure: ;
//  --my-primary-color-deprecated-l-35: #cbe6ff;
//  --my-primary-color-deprecated-l-20: #7ec1ff;
//  --my-primary-color-deprecated-t-20: #46a6ff;
//  --my-primary-color-deprecated-t-50: #8cc8ff;
//  --my-primary-color-deprecated-f-12: rgba(24, 144, 255, .12);
//  --my-primary-color-active-deprecated-f-30: rgba(230, 247, 255, .3);
//  --my-primary-color-active-deprecated-d-02: #dcf4ff;
//  --my-success-color: #52c41a;
//  --my-success-color-hover: #73d13d;
//  --my-success-color-active: #389e0d;
//  --my-success-color-outline: rgba(82, 196, 26, .2);
//  --my-success-color-deprecated-bg: #f6ffed;
//  --my-success-color-deprecated-border: #b7eb8f;
//  --my-error-color: #ff4d4f;
//  --my-error-color-hover: #ff7875;
//  --my-error-color-active: #d9363e;
//  --my-error-color-outline: rgba(255, 77, 79, .2);
//  --my-error-color-deprecated-bg: #fff2f0;
//  --my-error-color-deprecated-border: #ffccc7;
//  --my-warning-color: #faad14;
//  --my-warning-color-hover: #ffc53d;
//  --my-warning-color-active: #d48806;
//  --my-warning-color-outline: rgba(250, 173, 20, .2);
//  --my-warning-color-deprecated-bg: #fffbe6;
//  --my-warning-color-deprecated-border: #ffe58f;
//  --my-info-color: #1890ff;
//  --my-info-color-deprecated-bg: #e6f7ff;
//  --my-info-color-deprecated-border: #91d5ff;
//}