.dashboard-wrapper{
  //display: flex;
}

@font-face {
  //font-family: 'Nunito';
  //src: url('~fonts/Nunito-800.woff2'); /* IE9 Compat Modes */
  //src: url('~fonts/Nunito-800.woff2') format('embedded-opentype'), /* IE6-IE8 */
  //url('~fonts/Nunito-800.woff2') format('woff2'), /* Super Modern Browsers */
  //url('~fonts/Nunito-800.woff2') format('woff'), /* Pretty Modern Browsers */
  //url('~fonts/Nunito-800.woff2')  format('truetype'), /* Safari, Android, iOS */
  //url('~fonts/Nunito-800.woff2') format('svg'); /* Legacy iOS */
}


.page-content-body{
  margin-left: 255px;
  padding: 0 15px;
  position: relative;
  //width: calc(100% - 255px);
  background-color: #f8f8f9;

  &__title{
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 800;
    text-transform: uppercase;
    //font-family: Nunito;
    color: #000;
  }
}

.pull-right{
  float: right;
}


.breadcumb{

}