@import "src/sass/index.scss";

.ripple {
  position: absolute;
  animation: ripple_effect .8s 1;
  pointer-events: none;
  border-radius: 50%;
  opacity: 0;
  background: rgb(36, 36, 36);
  transform: scale(0);
}

@keyframes ripple_effect {
  0% { transform: scale(0); opacity: 0.7; }
  100% { transform: scale(2); opacity: 0; }
}

.ripple_parent {
  position: relative;
  overflow: hidden;
}

.hide {
  display: none;
}

.waves_default {
  background: rgb(51, 51, 51);
}

.waves_green {
  background: colors(green, base);
}

.waves_red {
  background: colors(red, base);
}

.waves_pink {
  background: colors(pink, base);
}

.waves_orange {
  background: colors(orange, base);
}

.waves_blue {
  background: colors(blue, base);
}






// $primary: #357db8;
// $secondary: lighten($primary, 20%);
// $light: #9e9e9e;
// $progress-height: 7px;
// $error: #ff2d26;


// $blue:    #007bff ;
// $indigo:  #6610f2 ;
// $purple:  #6f42c1 ;
// $pink:    #e83e8c ;
// $red:     #dc3545 ;
// $orange:  #fd7e14 ;
// $yellow:  #ffc107 ;
// $green:   #28a745 ;
// $teal:    #20c997 ;
// $cyan:    #17a2b8 ;
// $lime:    #cddc39 ;
// $white:   rgb(243, 243, 243);
// $black:   #424141;


// .blue   { background:$blue  }
// .indigo { background:$indigo}
// .purple { background:$purple}
// .pink   { background:$pink  }
// .red    { background:$orange}
// .orange { background:$orange}
// .yellow { background:$orange}
// .green  { background:$green }
// .teal   { background:$teal  }
// .cyan   { background:$cyan }
// .lime   { background:$lime }

// .blue-t   { color:$blue  }
// .indigo-t { color:$indigo}
// .purple-t { color:$purple}
// .pink-t   { color:$pink  }
// .red-t    { color:$orange}
// .orange-t { color:$orange}
// .yellow-t { color:$orange}
// .green-t  { color:$green }
// .teal-t   { color:$teal  }
// .cyan-t   { color:$cyan }
// .lime-t   { color:$lime }
// .white-t   { color:$white !important }
// .black-t   { color:$black !important }



// $blue_transparent_3: #007bff8f;
// $indigo_transparent_3:rgba(233, 30, 98, 0.314);
// $purple_transparent_3:rgba(233, 30, 98, 0.314);
// $red_transparent_3:rgba(233, 30, 98, 0.314);
// $pink_transparent_3:rgba(233, 30, 98, 0.314);
// $orange_transparent_3:rgba(233, 30, 98, 0.314);
// $yellow_transparent_3:rgba(233, 30, 98, 0.314);
// $green_transparent_3:rgba(233, 30, 98, 0.314);
// $teal_transparent_3:rgba(233, 30, 98, 0.314);
// $cyan_transparent_3:rgba(233, 30, 98, 0.314);
// $lime_transparent_3:rgba(233, 30, 98, 0.314);




// * {
//   box-sizing: border-box
// }

// html{
//   font-size: 10px
// }

// body {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }


// .wrapper {
//   margin: 4rem;
//   padding: 1rem 3rem;
//   box-shadow:
//     0 0 1px 0px grey,
//     0 1px 3px 0px rgb(112, 112, 112),
//     0 3px 8px 1px rgb(77, 77, 77);
// }

// .animation{
  

// }

// .h20 {
//   height: 2rem;
//   width: 100%;
//   display: block;
// }

// .title {
//   color: rgb(82, 82, 82);
//   font-family: Roboto Slab;
//   text-align: center;
// }

// .sub-title {
//   color: rgb(77, 77, 77);
//   font-family: Roboto;
//   font-weight: 500;
//   margin: 2rem 0 0.5rem 0;
// }

// .para {
//   color: grey;
//   font-size: 1.6rem;
//   font-weight: bold;
// }

// .h20 {
//   height: 2rem;
// }


// .show_class{
//   font-size: 1.5rem;
//   margin-left: 1rem;
//   text-align: center;
//   color: $blue;
//   .class-name{
//     color: $pink;
//   }
// }



// // Button Based.........
// .btn,
// .btn-icon,
// .btn-outl,
// .btn-floating,
// .btn-floating-sm,
// .btn-text {
//   font-family: roboto;
//   font-weight: 500;
//   border-radius: 2px;
//   text-align: center;
//   vertical-align: middle;
//   overflow: hidden;
//   background-color: rgb(233, 233, 233);
//   color: rgb(66, 65, 65);
//   height: 3.6rem;
//   padding: 0 1.6rem;
//   margin: .2rem 0px;
//   font-size: 1.4rem;
//   border: none;
//   outline: none;
//   display: inline-block;
//   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
//     0 3px 1px -2px rgba(0, 0, 0, 0.12),
//     0 1px 5px 0 rgba(0, 0, 0, 0.2);
//   transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
//   position: relative;
//   transition: .3s ease-out;
//   user-select: none;
//   cursor: pointer;

//   &:hover {
//     transform: translate(0px, 1px);
//     background-color: rgba(112, 111, 111, 0.514);
//     box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14),
//       0 1px 7px 0 rgba(0, 0, 0, 0.12),
//       0 3px 1px -1px rgba(0, 0, 0, 0.2);

//   }

//   &:active {
//     transform: translate(0px, 0px);
//     box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
//       0 3px 1px -2px rgba(0, 0, 0, 0.12),
//       0 1px 5px 0 rgba(0, 0, 0, 0.2);
//     background-color: rgb(119, 114, 114);
//   }

//   &-sm {
//     font-size: 1.3rem;
//     height: 3rem;
//     line-height: 3rem;
//     padding: 0 1.5rem;
//   }

// }

// // Different Normal Button And Different Color........
// .btn-pink {
//   color: $white;
//   background-color: $pink;

//   &:hover {
//     background-color: darken($color: $pink, $amount: 10%);
//   }

//   &:active {
//     background-color: $pink;
//   }

//   &:focus {
//     background-color: lighten($color: $pink, $amount: 5%);
//   }
// }

// .btn-blue {
//   color: $white;
//   background-color: $blue;

//   &:hover {
//     background-color: darken($color: $blue, $amount: 10%);
//   }

//   &:active {
//     background-color: $blue;
//   }

//   &:focus {
//     background-color: lighten($color: $blue, $amount: 5%);
//   }
// }

// .btn-indigo {
//   color: $white;
//   background-color: $indigo;

//   &:hover {
//     background-color: darken($color: $indigo, $amount: 10%);
//   }

//   &:active {
//     background-color: $indigo;
//   }

//   &:focus {
//     background-color: lighten($color: $indigo, $amount: 5%);
//   }
// }

// .btn-purple {
//   color: $white;
//   background-color: $purple;

//   &:hover {
//     background-color: darken($color: $purple, $amount: 10%);
//   }

//   &:active {
//     background-color: $purple;
//   }

//   &:focus {
//     color: $white;
//     background-color: lighten($color: $purple, $amount: 5%);
//   }
// }

// .btn-red {
//   color: $white;
//   background-color: $red;

//   &:hover {
//     background-color: darken($color: $red, $amount: 10%);
//   }

//   &:active {
//     background-color: $red;
//   }

//   &:focus {
//     background-color: lighten($color: $red, $amount: 5%);
//   }
// }

// .btn-orange {
//   color: $white;
//   background-color: $orange;

//   &:hover {
//     background-color: darken($color: $orange, $amount: 10%);
//   }

//   &:active {
//     background-color: $orange;
//   }

//   &:focus {
//     background-color: lighten($color: $orange, $amount: 5%);
//   }
// }

// .btn-yellow {
//   color: $white;
//   background-color: $yellow;

//   &:hover {
//     background-color: darken($color: $yellow, $amount: 10%);
//   }

//   &:active {
//     background-color: $yellow;
//   }

//   &:focus {
//     background-color: lighten($color: $yellow, $amount: 5%);
//   }
// }

// .btn-green {
//   color: $white;
//   background-color: $green;

//   &:hover {
//     background-color: darken($color: $green, $amount: 10%);
//   }

//   &:active {
//     background-color: $green;
//   }

//   &:focus {
//     background-color: lighten($color: $green, $amount: 5%);
//   }
// }

// .btn-teal {
//   color: $white;
//   background-color: $teal;

//   &:hover {
//     background-color: darken($color: $teal, $amount: 10%);
//   }

//   &:active {
//     background-color: $teal;
//   }

//   &:focus {
//     background-color: lighten($color: $teal, $amount: 5%);
//   }
// }

// .btn-cyan {
//   color: $white;
//   background-color: $cyan;

//   &:hover {
//     background-color: darken($color: $cyan, $amount: 10%);
//   }

//   &:active {
//     background-color: $cyan;
//   }

//   &:focus {
//     background-color: lighten($color: $cyan, $amount: 5%);
//   }
// }

// .btn-lime {
//   color: $white;
//   background-color: $lime;

//   &:hover {
//     background-color: darken($color: $lime, $amount: 10%);
//   }

//   &:active {
//     background-color: $lime;
//   }

//   &:focus {
//     background-color: lighten($color: $lime, $amount: 5%);
//   }
// }




// .ripple {
//   position: absolute;
//   background-color: rgb(255, 255, 255);
//   border-radius: 50%;
//   width: 5px;
//   height: 5px;
//   animation: rippleEffect 1s 1;
//   opacity: 0;
// }

// @keyframes rippleEffect {
//   0% {
//     transform: scale(0);
//     opacity: 0.6;
//   }

//   100% {
//     transform: scale(30);
//     opacity: 0;
//   }

// }

// .btn-floating-sm,
// .btn-floating {
//   height: 4rem;
//   width: 4rem;
//   line-height: 4rem;
//   text-align: center;
//   vertical-align: middle;
//   margin: .3rem 0;
//   border-radius: 50%;
//   padding: 0;

//   &-sm {
//     height: 3rem;
//     width: 3rem;
//     line-height: 3rem;
//   }
// }







// /// Button Out//

// // OutLine Button Start.......


// .btn-outl {
//   box-sizing: border-box;
//   background-color: transparent;
//   color: rgb(41, 41, 41);
//   border: 2px solid rgb(133, 131, 131);

//   &:hover {
//     background-color: rgba(161, 161, 161, 0.527);
//   }
// }

// // Different Button And Different Color........

// .outl-pink {
//   color: inherit;
//   background-color: transparent;
//   border-color: $pink;

//   &:hover {
//     background-color: lighten($color: $pink, $amount: 25%);
//   }
// }

// .outl-blue {
//   color: inherit;
//   background-color: transparent;
//   border-color: $blue;

//   &:hover {
//     background-color: lighten($color: $blue, $amount: 35%);
//   }
// }

// .outl-indigo {
//   color: inherit;
//   background-color: transparent;
//   border-color: $indigo;

//   &:hover {
//     background-color: lighten($color: $indigo, $amount: 35%);
//   }
// }

// .outl-purple {
//   color: inherit;
//   background-color: transparent;
//   border-color: $purple;

//   &:hover {
//     background-color: lighten($color: $purple, $amount: 35%);

//   }
// }

// .outl-red {
//   color: inherit;
//   background-color: transparent;
//   border-color: $red;

//   &:hover {
//     background-color: lighten($color: $red, $amount: 35%);

//   }
// }

// .outl-orange {
//   color: inherit;
//   background-color: transparent;
//   border-color: $orange;

//   &:hover {
//     background-color: lighten($color: $orange, $amount: 35%);

//   }
// }

// .outl-yellow {
//   color: inherit;
//   background-color: transparent;
//   border-color: $yellow;

//   &:hover {
//     background-color: lighten($color: $yellow, $amount: 35%);
//   }
// }

// .outl-green {
//   color: inherit;
//   background-color: transparent;
//   border-color: $green;

//   &:hover {
//     background-color: lighten($color: $green, $amount: 35%);
//     border-color: $green;
//   }
// }

// .outl-teal {
//   color: inherit;
//   background-color: transparent;
//   border-color: $teal;

//   &:hover {
//     background-color: lighten($color: $teal, $amount: 35%);

//   }
// }

// .outl-cyan {
//   color: inherit;
//   background-color: transparent;
//   border-color: $cyan;

//   &:hover {
//     background-color: lighten($color: $cyan, $amount: 35%);
//   }
// }

// .outl-lime {
//   color: inherit;
//   background-color: transparent;
//   border-color: $lime;

//   &:hover {
//     background-color: lighten($color: $lime, $amount: 35%);

//   }
// }

// // OutLine Button End.......




// .btn-text{
//   // color: #3a3839;
//   text-decoration: none;
//   background: transparent;
//   border: none;
//   box-shadow: none;

//   &:hover {
//     background: #66656536;
//     border: none;
//     box-shadow: none;
//   }
// }




// // ICON BUTTON Start
// .btn-icon {
//   height: 4rem;
//   width: 4rem;
//   line-height: 2rem;
//   margin: 0;
//   border-radius: 50%;
//   padding: 0;
//   background-color: transparent;
//   box-shadow: none;
//   color: #353434d2;
//   box-shadow: none;
//   font-size: 2rem;

//   &:hover {
//     background: rgba(71, 71, 71, 0.418);
//     box-shadow: none;
//   }
// }

// .icon-pink,
// .text-pink {
//   color: $pink;
//   background-color: transparent;

//   &:hover {
//     background-color: lighten($color: $pink, $amount: 35%);
//   }
// }

// .icon-blue,
// .text-blue {
//   color: $blue;
//   background-color: transparent;

//   &:hover {
//     background-color: lighten($color: $blue, $amount: 35%);
//   }
// }

// .text-indigo,
// .icon-indigo {
//   color: $indigo;
//   background-color: transparent;

//   &:hover {
//     background-color: lighten($color: $indigo, $amount: 35%);
//   }
// }

// .text-purple,
// .icon-purple {
//   color: $purple;
//   background-color: transparent;

//   &:hover {
//     background-color: lighten($color: $purple, $amount: 35%);
//   }
// }

// .text-red,
// .icon-red {
//   color: $red;
//   background-color: transparent;

//   &:hover {
//     background-color: lighten($color: $red, $amount: 35%);
//   }
// }

// .text-orange,
// .icon-orange {
//   color: $orange;
//   background-color: transparent;

//   &:hover {
//     background-color: lighten($color: $orange, $amount: 35%);
//   }
// }

// .text-yellow,
// .icon-yellow {
//   color: $yellow;
//   background-color: transparent;

//   &:hover {
//     background-color: lighten($color: $yellow, $amount: 40%);
//   }
// }

// .text-green,
// .icon-green {
//   color: $green;
//   background-color: transparent;

//   &:hover {
//     background-color: lighten($color: $green, $amount: 40%);
//   }
// }

// .text-teal,
// .icon-teal {
//   color: $teal;
//   background-color: transparent;

//   &:hover {
//     background-color: lighten($color: $teal, $amount: 40%);
//   }
// }

// .text-cyan,
// .icon-cyan {
//   color: $cyan;
//   background-color: transparent;

//   &:hover {
//     background-color: lighten($color: $cyan, $amount: 40%);
//   }
// }

// .text-lime,
// .icon-lime {
//   color: $lime;
//   background-color: transparent;

//   &:hover {
//     background-color: lighten($color: $lime, $amount: 35%);
//   }
// }

// // ICON BUTTON END