@import "src/sass/index.scss";

.pagination{
  margin: 20px;
  display: flex;
  justify-content: center;
  ul{
    box-shadow: 0px 2px 3px 0px #a2a2a2;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex
  }
  &--item{
    width: 30px;
    height: 25px;
    border: 1px solid #cecece;
    color: #636363;
    background: #ffffff;
    cursor: pointer;
    user-select: none;
    &.next-page, &.prev-page{
      width: max-content;
      padding: 0 11px;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
    }
    &:not(:last-child){
      border-right: none;
    }
    // margin: 0 1px;
    &:hover{
      background: $blue;
      border: 1px solid  $blue;
      color:  #ffffff;
    }
  }
  .active-page{
    background:  $blue;
      border: 1px solid  $blue;
      color:  #ffffff;
  }
}