

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: all .5s ease;
}

.main_title{
  color: dimgrey;
  font-size: 18px;
  font-family: Roboto;

}
.filter_bar{
  background: #f6f6f6;
  box-shadow: 3px 0px 11px -5px #727272ab;
}

.product{
  margin: 10px;
  padding: 10px 5px;
  width: 120px;
  box-sizing: border-box;
  // @include shadow($s1);
  text-align: center;
  transition: all .1s linear;
  &:hover{
    filter: brightness(1.11);
  }
  &:hover > .title_wrapper > .title_wrapper--title {
    background: #e61313c2;
    color: white;
  }
  .title_wrapper{
    padding: 2px 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 36px;
    &:hover{
      background: #e61313c2;
      color: white;
    }
    &--title{
      margin: 0;
      padding: 0;
      font-size: 14px;
      white-space: pre-wrap;
      color: rgb(90, 90, 90);
    }
  }
  img{
    width: 100px;
  }
  &--description{
    margin: 0;
  }
}
.product_id{
  font-size: 12px;
}

.product_filter_page {
  .content {
    min-height: calc(100vh - (51px + 80px))
  }
}