@import 'src/sass/index.scss';

.editor_wrapper{
  margin-top: 30px;
  background: grey;
  box-sizing: border-box;
  position: relative;
  border: 1px solid rgba(231, 231, 231, 0.705);
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  user-select: none;
  // box-shadow: 
  // 0px 1px 4px 0px rgba(0,0,0,0.2), 
  // 0px 4px 5px 0px rgba(0,0,0,0.14), 
  // 0px 1px 10px 0px rgba(0,0,0,0.12);;


  .m_toolbar{
    font-size: 16px;
    font-weight: 500;
    font-family: Roboto;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    user-select: none;

    padding-left: 8px;
    padding-right: 8px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #d9dad9;
    border-radius: 3px 3px 0 0;
    background: #f4f4f4;

    background: linear-gradient(#f4f4f4,#efeeee);

    // background: #e4e4e4;
    display: flex;
    justify-content: space-between;
    // align-items: center;
    // box-shadow: inset 0px 0px 7px 3px #b5b5b5;

    .toolbar_group{
      display: flex;
      align-items: center;
      position: relative;
    }

    .toolbarItem{
      position: relative;
      overflow: hidden;
      padding: 5px 5px;
      color: #fdfdfd;
      cursor: pointer;

     

      .t{
        font-weight: 400;
      }
      .fontSize{
        width: 50px;
      }
      .tag{
        width: 100px;
      }
      .far, .fa, .fas{
        &:hover{
          color: #3268ff;
        }
        &:active{
          color: #40f850;
        }
      }
      .fa-redo,
      .fa-undo{
        font-size: 14px;
        
      }
      .tag_selector{
        width: 88px;
      }

      .forgroundColor,
      .background_color{
        position: absolute;
        left: 25px;
       
      }
      .text_color{
        // color: #13beff;
        font-weight: 600;
        font-size: 17px;
    
      }
      .background_color{
        left: 0;
        overflow: hidden;
        position: relative;
        font-size: 17px;
        
        .color_bar{
          width: 15px;
          height: 2px;
          position: absolute;
          bottom: 0px;
          left: 0px;
          text-align: center;
          margin: auto;
        }
      }
      .backgroundColor{
        position: absolute;
        left: 25px;
      }
    }
    .btn_reset{
      background: inherit;
      color: #555;
      outline: none;
      border: none;
      padding: 0;
      margin: 0;
      font-size: inherit;
      cursor: pointer;
      font-weight: 500;
      font-family: Roboto;
      display: flex;
      align-items: center;
    }
    .big_font,
    .small_font{
      position: relative;
      .plus{
        position: absolute;
        top: -7px;
        left: 8px;
        font-weight: 400;
      }
    }
    .font_changer{
      position: relative;

    }
    .create_link_modal, 
    .upload_image_modal{
      width: 200px;
      position: absolute;
      background: rgb(238, 238, 238);
      top: 32px;
      right: 0;
      @include shadow($s3);
      z-index: 100;
      padding: 10px 15px;
      // padding-top: 0px;
      &--checkbox{
        display: flex;
        justify-content: space-between;
        align-items: center;
        label{
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
   
    
  }
  .raw_editor_wrapper{
    min-height: 100px;
    width: 100%;
    user-select: none;

  .m_editor{    
      outline: none;
      border: none;
      min-height: 100px;
      width: 100%;
      background: rgb(255, 255, 255);
      outline: none;
      border: none;
      padding: 15px;;
      // font-size: 0px;
      outline: none; 
      user-select: text; 
      white-space: pre-wrap; 
      overflow-wrap: break-word;

    .content{
      padding:  10px 5px;
      background: rgb(247, 247, 247);
    }
    .codePreview_Pre{
      background: rgb(255, 255, 255);
      outline: none;
      border: none;
      padding: 0 15px;;
      outline: none; 
      user-select: text; 
      white-space: pre-wrap; 
      overflow-wrap: break-word;
    }
  }
}
  
}




.image_Wrapper{
  display: flex;
  width: fit-content;
  background: rgb(233, 233, 233);
  margin: 10px;
  box-sizing: border-box;
  position: relative;
  border: 1px solid;
  border-image-source: url("./crop\ selection.gif");
  border-image-slice: 1;
  border-image-repeat: repeat;
  box-sizing: border-box;
  user-select: none;
  .image{
    display: flex;
  }
  .dragbar_t,
  .dragbar_b,
  .dragbar_l,
  .dragbar_r,
  .dragbar_tl,
  .dragbar_tr,
  .dragbar_bl,
  .dragbar_br{
    width: 10px;
    height: 10px;
    border: 1px solid #676767;
    position: absolute;
    box-sizing: border-box;
  }

  .dragbar_t{ left: 50%; transform: translateX(-50%); top: -5px; cursor: n-resize;}
  .dragbar_b{ left: 50%; left: 50%; transform: translateX(-50%); bottom: -5px; cursor: s-resize;}
  .dragbar_l{ left: -5px; bottom: 50%; transform: translateY(50%); cursor: w-resize ;}
  .dragbar_r{ right: -5px; bottom: 50%; transform: translateY(50%); cursor: e-resize;}
  .dragbar_tl{ left: -5px; top: -5px; cursor: se-resize}
  .dragbar_tr{ right: -5px; top: -5px; cursor: sw-resize}
  .dragbar_bl{ left: -5px; bottom: -5px;  cursor: sw-resize}
  .dragbar_br{ right: -5px; bottom: -5px; cursor: se-resize } 
}


