//@import "src/sass/index.scss";

.pagination{
  margin: 20px;
  ul{
    //box-shadow: 0px 2px 10px 0px #78787838;
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  &--item{
    margin-top: 5px;
    //margin-right: 3px;
    width: 30px;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(7, 185, 79, 0.29);
    color: #636363;
    background: #ffffff;
    cursor: pointer;
    user-select: none;
    &.next-page, &.prev-page{
      width: max-content;
      padding: 0 11px;
      font-size: 14px;
      font-weight: 500;
      line-height: 22px;
    }
    &:not(:last-child){
      border-right: none;
    }
    // margin: 0 1px;
    &:hover{
      @apply bg-primary-400;
      border: 1px solid #17bb6a;
      color:  #ffffff;
    }
  }
  .active-page{
    @apply bg-primary-400;
    border: 1px solid #17bb6a;
    color:  #ffffff;
  }
}