.loader_root{
  position: fixed;
  z-index: 4000;
  display: inline-block;
  left: 50%;
  transform: translateX(-50px);
  box-sizing: border-box;

  span{
    top: 0;
    left: 0;
    position: absolute;
    border: 3px solid #eae7e705;
    width: 35px;
    height: 35px;
    //background: red;
    border-radius: 100%;
    animation: spinner .8s ease-in-out infinite;
    box-shadow: 0px 0px 9px 0px #88888838;
  }

  span:nth-child(1) {
    border-bottom-color: red;
    animation-delay: .11s;
  }
  span:nth-child(2) {
    border-bottom-color: red;
    animation-delay: .22s;
  }
  span:nth-child(3) {
    border-bottom-color: red;
    animation-delay: .33s;
  }
  span:nth-child(4) {
    border-bottom-color: red;
    animation-delay: .1s;
  }

  @keyframes spinner {
    0%{  transform: rotate(0deg) }
    100%{ transform: rotate(360deg) }
  }


}