@import "src/sass/index.scss";


.d{
  //height: 105px;
  display: block;
}
.main_nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0px;
  margin: 0;
  max-height: 52px;
  @include down_sm(){
    padding: 0 2px;
  }
}
.navigation{
  //box-shadow: $s5;
  //box-shadow: 0px 0px 9px 3px rgb(115 115 115 / 65%);
  //box-shadow: 0px 2px 14px -4px rgb(115 115 115 / 65%);
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  padding: 0 20px;
  //@apply bg-primary-400;
  border-bottom: 1px solid #83838314;
  //background: #f76b8c;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include get_down(768px){
    padding: 0 0px;
  }
  .container{
    padding-right: 5px;
    padding-left: 5px;
  }
  .top_navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid #b7b7b754;
    padding: 5px 0px;
    margin-bottom: 10px;
    .top_navigation__icon_item{
      @apply hover:text-primary-400 cursor-pointer;
      padding-right: 15px;
      cursor: pointer;
      list-style: none;
      .svg-inline--fa{
        font-size: 18px;
        color: #656565;
      }
    }
    .top_navigation_item{
      font-size: 14px;
      font-weight: 400;
      margin-right: 10px;
      .svg-inline--fa{
        margin-left: 4px;
      }
    }
    @include get_down(576px){
      //display: none;
    }
  }
 
  .main_nav{
    align-items: center;
    margin-bottom: 10px;
    .nav_item{
      li{
        list-style: none;
      
        .auth_name{
          color: #00b0ff;
          font-size: 14px;
          font-weight: 500;
          margin-left: 5px;
        }
        a{
          text-decoration: none;
          //color: #ffffff;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
    .left_nav{
      list-style: none;
      display: flex;
      align-items: center;
      .logo_image{
        width: 85px;
        img{
          //width: 160px;
          //height: 40px;
          //width: 100%;
        }
        @include get_down(576px){
          width: 75px;
          img{
            //width: 150px;
            //width: 100%;
          }
        }
      }
    }
  
    .right_nav{
      display: flex;
      align-items: center;
      .nav_item{
        list-style: none;
        display: flex;
        align-items: center;
        padding: 14px 5px;
        .svg-inline--fa {
          color: #565656;
          font-size: 18px;
          margin-left: 6px;
          margin-right: 6px;
          cursor: pointer;
          @include down_sm{
            font-size: 20px;
          }
        }
        .dropdown_nav{
          .svg-inline--fa{
            font-size: 15px;
          }
        }
      
      }
      .user-avatar{
        display: flex;
        width: 25px;
        border-radius: 100%;
        pointer-events: none;
      }
    }
    .center_nav{
      flex-basis: 400px;
    }
    .p_search_box{
      width: 100%;
      border: 1px solid rgb(10 163 87 / 16%);
      border-radius: 4px;
      height: 35px;
      input{
        width: 100%;
        padding: 0px 10px;
        outline: none;
        border: none;
      }
      .search_icon{
        width: 60px;
        line-height: 30px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(23 187 106 / 1);
        color: white;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        height: 100%;
      }
      .search_clear_icon{
        margin-right: 10px;
        color: #838383;
        font-size: 14px;
      }
      @include get_down(576px) {
        display: none;
      }
    }
  }
  
  
}

.badge{
  position: absolute;
  top: 5px;
  right: 1px;
  @apply bg-secondary-400 text-gray-50;
  padding: 1px 6px;
  height: 15px;
  display: block;
  //justify-content: center;
  font-size: 12px;
  font-weight: 400;
  border-radius: 50px;
  line-height: 15px;
  text-align: center;
}

.dropdown_nav{
  background: #ffffff;
  //width: 150px;
  right: 0px;
  
  top: 41px;
  position: absolute;
  box-shadow: 0 2px 10px -2px rgb(165 165 165 / 79%);
  padding: 5px 2px;
  display: flex;
  align-items: center;
  a{
    display: flex;
    //color: #1e1e1e !important;
    align-items: center;
    font-weight: 400 !important;
    font-size: 14px;
  }
  .svg-inline--fa{
    font-size: 10px;
    color: rgb(23 187 106 / 1) !important;
  }
}
.cls-1{fill:#1c1c1c;}.cls-2{fill:#17bb6a;}

.floating_search_bar{
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%) translateY(-100px);
  z-index: 100;
  background: #ffffff;
  margin: auto;
  max-width: 600px;
  //height: 100px;
  box-shadow: 0 1px 8px 0px $gray-700;
  padding: 10px;
  display: flex;
  align-items: center;
  .search_input_wrapper{
    flex: 1;
    display: flex;
    justify-content: center;
    input{
      width: 100%;
      padding: 5px 5px;
      outline: none;
      border: 1px solid rgba(255, 99, 99, 0.87);
      border-radius: 4px;
      background: transparent;
      color: $gray-800;
    }
  }
  .search_btn{
    margin-left: 5px;
    padding: 5px 5px;
    outline: none;
    border: 1px solid rgba(255, 99, 99, 0.87);
    border-radius: 4px;
    background: transparent;
    color: $gray-800;
    cursor: pointer;
  }
  
}
.show_search_bar{
  transition: all .5s cubic-bezier(0.81, 0.05, 0, 1.63);
  transform:  translateX(-50%) translateY(0);
}
.close_search_bar{
  transition: all .2s ease-in;
  transform:  translateX(-50%) translateY(-100px);
}
.search_bar{
  z-index: 1000;
  .input_wrapper{
    display: flex;
    align-items: center;
    padding: 4px 6px;
    border: 1px solid rgba(0, 169, 71, 0.73);
    input {
      width: 100%;
      outline: none;
    }
  }
}

.floating_search_wrapper{
    @include get_up(768px){
        display: none;
    }
}

.floating_search_backdrop{
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 110%;
    left: 0;
    top: 0;
    background-color: rgba(80, 80, 80, 0.12);
}
.floating_search{
  //box-shadow: 0px 1px 7px -3px #4848487a;
    position: fixed;
    padding: 6px 10px;
    z-index: 1004;
    width: 100%;
    //height: 110%;
    left: 0;
    //left: 10px;
    //right: 10px;
    top: 0;
    background-color: rgba(80, 80, 80, 0.12);
    backdrop-filter: blur(3px);
  .input_wrapper {
    display: flex;
    align-items: center;
    background: #ffffff4d;
    padding: 10px 2px;
    border-radius: 4px;
      backdrop-filter: blur(3px);
    font-size: 14px;
    font-weight: 400;
    input {
      width: 100%;
      outline: none;
      border: none;
      background: transparent;
      color: white;
        font-weight: 500;
      padding: 0 10px;
  
    &::placeholder {
      color: white;
    }
  }
  .svg-inline--fa{
    margin-right: 6px;
    color: #fafafa;
  }
  }
}


.auth-menu__item{

  @apply flex flex-1 items-center hover:bg-primary-400 hover:bg-opacity-40 text-gray-800 hover:text-white cursor-pointer  px-1 py-1;
  &:hover{
    a {
      color: #ffffff;
    }
  }
}

.header-height{
    height: var(--header-height);
    display: block;
}
.nav-search{
    input{
        background: transparent;
    }
}