@import "src/sass/index.scss";


.d{
  height: 45px;
  display: block;
}
.main_nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 10px;
}
.navigation{
  //box-shadow: $s5;
  box-shadow: 0px 0px 9px 3px rgb(115 115 115 / 65%);
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  background: #f76b8c;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .nav_item, li{
    list-style: none;
    .auth_name{
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      margin-left: 5px;
    }
    a{
      text-decoration: none;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      //margin: 0 5px;
    }
  }
  .left_nav{
    display: flex;    
  }
  .right_nav{
    display: flex;
    align-items: center;
    
    .user-avatar{
      display: flex;
      width: 25px;
      border-radius: 100%;
      pointer-events: none;
    }
  }
}
